{% extends '::layout.html.twig' %}

{% block breadcrumb %}
    <li class="active">Entries</li>
{% endblock breadcrumb %}

{% block content %}
    {% spaceless %}
        <table class="table tablesorter table-striped table-condensed">
            <thead>
            <tr>
                <th>ID</th>
                <th>Transaction ID</th>
                <th>Transaction Parent ID</th>
                <th>Trans Date</th>
                <th>Account</th>
                <th>Slug</th>
                <th>Amount</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry.id }}</td>
                    <td>
                        <a href="{{ path('elcweb_accounting_transaction_show', { id: entry.transaction.id }) }}">{{ entry.transaction.id }}</a>
                    </td>
                    <td>{{ entry.transaction.parent }}</td>
                    <td>{{ entry.transaction.date|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('elcweb_accounting_account_show', { id: entry.account.id }) }}">{{ entry.account }}</a>
                    </td>
                    <td>{{ entry.account.slug }}</td>
                    <td>{{ entry.amount }}</td>
                    <td>{{ entry.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endspaceless %}
{% endblock %}
